@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('//fonts.googleapis.com/css?family=Lato');

/* transparent menue */
#responsive-menu-container {
    background:rgba(30,30,30,0.7) !important;
}
#responsive-menu-title, #responsive-menu-wrapper, #responsive-menu {
   background:rgba(30,30,30,0.0) !important;
}
li.responsive-menu-item a {   
    background:rgba(30,30,30,0.0)!important;
}
li.responsive-menu-item a:hover {
    background-color: #e14d43 !important;
}
  
#masthead > nav > div > div > div { display:none !important;}
#logo {display:none !important;}  

/* HTML */

body {
  overflow-x: hidden;
  word-break: keep-all !important;
  font-family: 'Open Sans','Helvetica','Arial','sans-serif' !important;
  color: #555555 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.6 !important;
  vertical-align: baseline;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1.entry-title { 
  font-size:44px;
}

a {
  color:#C00000;
}

/*custom*/
hr {
  background-color:#fc465a;
  color:#fc465a;
  height: 1px;
  clear: both;
}

blockquote {
  margin:50px;
  font-family: Georgia, serif;
  font-size: 20px !important; 
} 
a {
  color:#AA0000; 
  text-decoration: none;
}
.biglabel {
  color: #777;
  font-size: 1.8em; 
  line-height: 1.5em;
  text-transform: uppercase;
  font-family: 'Open Sans','Helvetica','Arial','sans-serif' !important;
  word-break: keep-all !important;
  word-wrap: normal;
} 

.copyright {
   letter-spacing: 1.8px !important; 
}
 
.menu_title {
    font-size: 22px !important;
  	font-weight: 400 !important; 
  	font-family:'Open Sans','Helvetica','Arial','sans-serif' !important;
}
/*social sharing*/
.scriptlesssocialsharing-buttons .button {
  color: #ffffff !important;
}  
